<<<<<<< HEAD
<%-include('../template/header')-%>
=======
<%-include('../template/header')%>
>>>>>>> ec2908165e0273a087378b445c4bb1bca4165b17
<section>
    <h1>Nova Marca</h1>
    <form>
        <div class="mb-3 col-4">
          <label for="nome" class="form-label">Nome:</label>
<<<<<<< HEAD
          <input type="text" name="nome" class="form-control" id="nome">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
</section>
<%-include('../template/footer')-%>
=======
          <input type="text" name="nome" class="form-control" id="nome" >
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
</section>
<%-include('../template/footer')%>
>>>>>>> ec2908165e0273a087378b445c4bb1bca4165b17
